{{ partial "header.html" . }}

{{ partial "sidebar.html" . }}

	<content>{{"<!-- from article.single //-->" | safeHTML}}
		<article class="h-entry">
		  <h1 class="p-name">{{ .Title }}</h1>
		  {{ partial "metadata.html" . }}
		  {{- if .Params.summary }}
		  <div class="floatright p-summary">
		  {{ .Params.summary }}
		  </div>
		  {{- end }}
		  <div class="e-content">
		  {{ .Content }}
		  </div>
		</article>
		
{{ partial "articlepagination.html" . }}
{{ partial "mention.html" . }}
{{ partial "webmention.html" . }} 
	</content>

{{ partial "footer.html" . }}