{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}
	<content>{{"<!-- from link.single //-->" | safeHTML}}
		<article class="h-entry">
		{{ if .Params.link}}
		  	<h3 class="p-name"><a href={{ .Params.link }} class="u-bookmark-of"><svg class="icon icon-link">
                <use xlink:href="{{ .Site.BaseURL }}svg/symbol-defs.svg#icon-link">
                </use></svg> {{ .Title }}
				{{- if .Params.gplus }}
					<svg class="icon icon-google-plus">
					<use xlink:href="{{ .Site.BaseURL }}svg/symbol-defs.svg#google-plus">
                </use></svg>
                {{- end }}
                </a></h3>
        {{ else }}
			<h3 class="p-name">{{ .Title }}</h3>
		{{ end }}
		  {{ partial "metadata.html" . }}
		  <div class="e-content">
		  {{ .Content }}
		  </div>
		</article>
	{{ partial "articlepagination.html" . }}
	{{ partial "mention.html" . }}
	{{ partial "webmention.html" }}
	</content>
{{ partial "footer.html" . }}
