/*                                _        */
/*    ___ ___ ___ ___ ___ ___ ___| |_      */
/*   |  _| -_| . |  _| . | .'|  _|   |     */
/*   |_| |___|  _|_| |___|__,|___|_|_|     */
/*           |_|                           */
/*                                         */

div.meta {
	font-size: 75%;
	font-family: 'Libre Baskerville', Georgia, serif;
	font-style: italic;
	color: #999;
}