/*
                                _        
    ___ ___ ___ ___ ___ ___ ___| |_      
   |  _| -_| . |  _| . | .'|  _|   |     
   |_| |___|  _|_| |___|__,|___|_|_|     
           |_|                           
                                         */
/*
.Site {
	display: flex;
 	min-height: 100vh;
  	flex-direction: column;
}

main {
	max-width: 900px;
	margin: 0 auto;
	flex: 1;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

content, aside {
  flex-basis: auto;
}


@media screen and (min-width: 800px) {
	.column {
	flex: 1;
	}

	aside {
	flex: 3;
	padding-right: 10px;

	}

	content {
	flex: 7;
	height: 100%;
	}

	header {
	flex: 0 0 100vh 100vw;
	}

	nav {
	background-image: url("/images/asc3.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	text-shadow: #fafafa 2px 0px 3px;
	}
}
*/

main {
	display: flex;
 	min-height: 100vh;
  	flex-direction: column;
  	max-width: 1000px;
  	margin: 0 auto;
	flex: 1;
}

content {
	margin-left: 1em;
}

@media screen and (min-width: 800px) {
	section {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
	}

	aside {
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
	}

	content {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
   }

	nav {
	background-image: url("/images/asc3.jpg");
	background-position: top right;
	background-repeat: no-repeat;
	text-shadow: #fafafa 2px 0px 3px;
	}   
}

/* Footer */

footer {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 60%;
}

html {
	font-size: 18px;
  	line-height: 23px;
  	background-color: whitesmoke;
}

body {
    font-family: "Gentium Basic", Times, Georgia, serif;
	font-size: 1em;
  	line-height: 1.27777778em;
 	margin: auto;
 	color: #454552;
}

#sitetitle h1, article h2 a {
	line-height: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: 600;
	font-size: 2.61111111em;
	line-height: 1.46808511em;
	margin-top: 0.4893617em;
	margin-bottom: 0.4893617em;
}

h2 {
  font-weight: 600;
  font-size: 2.61111111em;
  line-height: 1.46808511em;
  margin-top: 0.4893617em;
  margin-bottom: 0.4893617em;
}
h3 {
  font-weight: 600;
  font-size: 1.61111111em;
  line-height: 1.5862069em;
  margin-top: 0.79310345em;
  margin-bottom: 0em;
}
h4 {
  font-weight: 600;
  font-size: 1em;
  line-height: 1.27777778em;
  margin-top: 1.27777778em;
  margin-bottom: 0em;
}
h5 {
  font-weight: 600;
  font-size: 1em;
  line-height: 1.27777778em;
  margin-top: 1.27777778em;
  margin-bottom: 0em;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.27777778em;
}

.indmicro p {
	margin-bottom: 0em;
}

.indmicro {
	padding: 0.5em;

}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

pre {
	display: block;
    font-family: menlo, monospace;
    white-space: pre;
    margin: 1em 0;
    font-size: 75%;
}

div.meta {
	font-size: 75%;
	font-family: 'Gentium Basic', Georgia, serif;
	font-style: italic;
	color: #999;
}

div.floatright {
	display: block;
	float: right;
	width: 10em;
	padding: 1em;
	margin: .5em;
	box-shadow: 5px 5px 10px #367588;
}

div.p-summary {
	font-style: italic;
	color: #367588;

}

#current {
	background-color: rgba(54, 117, 136, 0.1)
}

blockquote {
	margin-top: .5em;
  	margin-bottom: .5em;
  	margin-left: 0;
  	padding-left: 1em;
  	border-left: .5em solid #901717;
}

img.links {
	float: left;
	border: 1px dotted black;
    margin: 0px 10px 0px 0px;
}

div.curr-cont {
	display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 120px;
}

div.curr-img {
	height: 100%;
	width: 80px;
}

div.curr-prog {
	width: 100%;
}

/* -----------------------------------------------------
   CSS Progress Bars
-------------------------------------------------------- */
.cssProgress {
  width: 100%;
  margin-bottom: 20px;
}
.cssProgress .progress1,
.cssProgress .progress2,
.cssProgress .progress3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.cssProgress .cssProgress-bar {
  display: block;
  float: left;
  width: 0%;
  height: 100%;
  background: #367588;
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: width 0.8s ease-in-out;
          transition: width 0.8s ease-in-out;
}
.cssProgress .cssProgress-label {
  position: absolute;
  overflow: hidden;
  left: 0px;
  right: 0px;
  color: whitesmoke;
  font-size: 0.7em;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(54, 117, 136, 1);
}

.progress2 {
  background-color: #EEE;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.progress2 .cssProgress-bar {
  height: 18px;
}
.progress2 .cssProgress-label {
  line-height: 18px;
}

.centre {
	text-align: center;
	padding: 5px;
}

/* SideBar */

#sitetitle a {
	color: #367588;
}

#sitetitle a .ochre {
	color: #901717;
	font-weight: 800;
}

nav li {
	font-family: 'Gentium Basic', Georgia, serif;
	font-style: italic;
	color: #999;
}

nav ul {
	padding: 5px;
}
nav a {
	text-decoration: none!important;
	color: #999;
}

nav a:visited {
	color: #999;
}

nav a:hover {
	text-decoration: none!important;
	color: #367588;
}

nav ul {
	list-style: none;
}

nav li {
	font-style: italic;
	color: #999;
}

nav h1 a {
	color: #367588;
}

/* My tidy links */

article a, article a:visited, .mention a {
	text-decoration: none;
	color: currentColor;
	background: linear-gradient(whitesmoke,whitesmoke),linear-gradient(whitesmoke,whitesmoke),linear-gradient(#367588,#367588);
	background-size: .05em 1px,.05em 1px,1px 1px;
	background-repeat: no-repeat,no-repeat,repeat-x;
	text-shadow: .03em 0 whitesmoke,-.03em 0 whitesmoke,0 .03em whitesmoke,0 -.03em whitesmoke,.06em 0 whitesmoke,-.06em 0 whitesmoke,.09em 0 whitesmoke,-.09em 0 whitesmoke,.12em 0 whitesmoke,-.12em 0 whitesmoke,.15em 0 whitesmoke,-.15em 0 whitesmoke; 
	background-position: 0 95%,100% 95%,0 95%;
	transition: all 0.3s;
}

article a:hover, article a:active, .mention a:active {
	color: #367588;
	background: linear-gradient(whitesmoke,whitesmoke),linear-gradient(whitesmoke,whitesmoke),linear-gradient(#454552,#454552);
	background-size: .05em 1px,.05em 1px,1px 1px;
	background-repeat: no-repeat,no-repeat,repeat-x;
	text-shadow: .03em 0 whitesmoke,-.03em 0 whitesmoke,0 .03em whitesmoke,0 -.03em whitesmoke,.06em 0 whitesmoke,-.06em 0 whitesmoke,.09em 0 whitesmoke,-.09em 0 whitesmoke,.12em 0 whitesmoke,-.12em 0 whitesmoke,.15em 0 whitesmoke,-.15em 0 whitesmoke; 
	background-position: 0 95%,100% 95%,0 95%;
	transition: all 0.3s;
}

article h3 a, article h3 a:visited, article h3 a:hover {
	line-height: 1.1em;
	background: whitesmoke;
}

p a, p a:visited {
	line-height: inherit;
}

h1 a, h2 a, h3 a, h4 a, h6 a, a.pin-title, dt * a {
	text-decoration: none !important;
	color: #367588;
	border-bottom: none !important;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	text-shadow: #fafafa 2px 0px 3px;
}


h1 a:hover, h3 a:hover, h4 a:hover, h6 a:hover, a.pin-title:hover, dt *a:hover {
	text-decoration: none !important;
	color: #367588;
	border-bottom: 1px solid #367588;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	text-shadow: #fafafa 2px 0px 3px;
}

h1 a:visited, h3 a:visited, h4 a:visited, h6 a:visited, a.pin-title:visited, dt * a:visited {
	text-decoration: none !important;
	color: #367588;
	border-bottom: 1px solid #367588;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	text-shadow: #fafafa 2px 0px 3px;
}

h1 a:visited:hover, h3 a:visited:hover, h4 a:visited:hover, h6 a:visited:hover, a.pin-title:visited:hover, {
	text-decoration: none!important;
	color: #367588;
	border-bottom: 1px solid #367588;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	text-shadow: #fafafa 2px 0px 3px;
}

#revlist h3 {
	display: inline-block;
}

a.metatag {
	text-decoration: none !important;
	border-bottom: none !important;
	color: #777;
	background: whitesmoke;
}

a.metatag:link {
	text-decoration: none !important;
	border-bottom: none !important;
	color: #777;
	background: whitesmoke;
}

a.metatag:hover {
	text-decoration: none !important;
	border-bottom: none !important;
	color: #367588;
	background: whitesmoke;
}

a.metatag:visited {
	text-decoration: none !important;
	border-bottom: none !important;
	color: #777;
	background: whitesmoke;
}

a.metatag:visited:hover {
	text-decoration: none !important;
	border-bottom: none !important;
	color: #367588;
	background: whitesmoke;
}

/* the ddg form*/
#search {
	font-family: sans-serif;
	width: 100%;
	max-width: 110px;
	margin: 0px auto 0;
	margin-left: -1px;
}

#search input {
	width: 80%;
	font-family: sans-serif;
	background-color: #fafafa;
	border: 1px solid #9a9a9a;
	padding: 6px 8%;
	color: #2b2b2b;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 8px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.5);
	box-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#search input:focus {
	outline: none;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 0 8px #4f4f4f;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 0 8px #4f4f4f;
	box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 0 12px #4f4f4f;
}

/* Pagination */

.paginate {
	display: flex;
    justify-content: flex-end;
/*    margin: 23px 23px; */
    font-size: 75%;
    background-color: #367588;
    margin-bottom: 23px
/*    border-radius: 1em; */
/*    padding: 0.2em 0.5em 0.25em; */
}

.paginate .pagprev {
	margin-right: auto;
}

.lipag {
	margin: auto;
	text-align: center;
    font-size: 75%;
    background-color: #367588;
    margin-bottom: 23px
	}

.lipag ul li {
		list-style-type: none;
		list-style: none;
		display: inline;
		color: white;
	}

.lipag a {
	text-decoration: none !important;
	font-family: 'Open Sans', sans-serif;
	color: whitesmoke;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	transition: background-color 0.5s;
	padding: 0.2em 0.5em 0.2em;
}

.lipag a:hover {
	text-decoration: none !important;
	font-family: 'Open Sans', sans-serif;
	color: #367588;
	background-color: whitesmoke;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	transition: background-color 0.5s;
	padding: 0.2em 0.5em 0.2em;		
}

li.active a {
	font-weight: bold;
}

a[rel="next"], a[rel="prev"] {
	text-decoration: none !important;
	font-family: 'Open Sans', sans-serif;
	color: whitesmoke;
	line-height: 1;
	padding: 0.2em 0.5em 0.2em;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	transition: background-color 0.5s;
	display: block;
	height: 100%;
}

a:hover[rel="next"], a:hover[rel="prev"] {
	text-decoration: none !important;
	font-family: 'Open Sans', sans-serif;
	color: #367588;
	background-color: whitesmoke;
	padding: 0.2em 0.5em 0.2em;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	transition: background-color 0.5s;
	display: block;
	height: 100%;
}

/* Tables */

th, tfoot {
	color: #e1e3e4;
	font-weight: bold;
	background-color: #367588;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/* SVG Icons
------------------------------------------ */

.icon, .icon-ascraeus, .icon-rss, .icon-drawer, .icon-link, .icon-twitter, .icon-book, .icon-google-plus, .icon-infinite, .icon-telegram, .icon-instagram {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}


.icon-ascraeus:hover {
	fill: #367588;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.icon-rss:hover {
	fill: #e0812a;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.icon-drawer:hover, .icon-link:hover, .icon-infinite:hover, .icon-power:hover .icon-star-half:hover {
	fill: #901717;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.icon-twitter:hover {
	fill: #41b7d8;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.icon-book:hover {
	fill: #372214;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.icon-google-plus:hover {
	fill: #d64937;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.icon-telegram:hover {
	fill: #0088cc;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.icon-instagram:hover {
	fill: #c13584;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.icon-github:hover {
	fill: #6e5494;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.svg .icon {
	height: 1em;
	width: 1em;
}

/* #Star Ratings
================================================= */
.star-ratings-css {
	unicode-bidi: bidi-override;
	color: #c5c5c5;
	font-size: 25px;
	height: 25px;
	width: 125px;
	margin: 0 auto;
	position: relative;
	padding: 0;
	text-shadow: 0 1px 0 #a2a2a2;
}
.star-ratings-css-top {
	color: #e7711b;
	padding: 0;
	text-shadow: 0 1px 0 #ab5414;
	position: absolute;
	z-index: 1;
	display: block;
	left: 0px;
	overflow: hidden;
}
.star-ratings-css-bottom {
	z-index: 0;
}

.textwrap {
	float: left;
	margin-right: 12px;
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 797px) {
	nav ul li {
		list-style-type: none;
		list-style: none;
		display: inline;
		font-size: 32px;
	}

	nav {
		text-align: center;
	}

	.hidden {
		display: none;
		overflow: hidden;
	}
	aside h1 {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	nav a {
		color: #444;
		border-bottom: 5px solid #fafafa;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
		transition: color 0.2s;
	}


	nav a:hover {
		color: #367588;
		border-bottom: 5px solid #367588;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
		transition: color 0.2s;
	}

}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 700px) {
	content {
		margin: auto;
	}

	nav {
		text-align: center;
	}

	nav ul li {
		list-style-type: none;
		list-style: none;
		display: inline;
		font-size: 32px;
	}
	.hidden {
		display: none;
		overflow: hidden;
	}


	aside h1 {
		text-align: center;
	}
	nav a {
		color: #444;
		border-bottom: 5px solid #fafafa;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
		transition: color 0.2s;
	}


	nav a:hover {
		color: #367588;
		border-bottom: 5px solid #367588;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
		transition: color 0.2s;
	}

}

hr { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #367588, rgba(0, 0, 0, 0)); }

/* #Forms
================================================== */

form {
	margin-bottom: 20px;
}
fieldset {
	margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea,
select {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
select {
	padding: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[name="url"]:focus,
textarea:focus {
	-moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
textarea {
	min-height: 60px;
}

input[type="url"] {
	width: 40%;
}
label,
legend {
	display: block;
	font-weight: bold;
	font-size: 13px;
}
select {
	width: 220px;
}
input[type="checkbox"] {
	display: inline;
}
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444;
}

input[type=submit], input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
input[type=submit]:hover, input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}

