/*
                                _        
    ___ ___ ___ ___ ___ ___ ___| |_      
   |  _| -_| . |  _| . | .'|  _|   |     
   |_| |___|  _|_| |___|__,|___|_|_|     
           |_|                           
                                         */

main {
	max-width: 900px;
	margin: 0 auto;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

content, aside {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }

  aside {
    flex: 3;
  }
  content {
    flex: 7;
  }
}

html {
	font-size: 18px;
  	line-height: 23px;
}

body {
    font-family: "Libre Baskerville", Times, Georgia, serif;
	font-size: 1em;
  	line-height: 1.27777778em;
 	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: 700;
	font-size: 2.61111111em;
	line-height: 1.46808511em;
	margin-top: 0.4893617em;
	margin-bottom: 0.4893617em;
}

h2 {
  font-weight: 600;
  font-size: 2.61111111em;
  line-height: 1.46808511em;
  margin-top: 0.4893617em;
  margin-bottom: 0.4893617em;
}
h3, {
  font-weight: 600;
  font-size: 1.61111111em;
  line-height: 1.5862069em;
  margin-top: 0.79310345em;
  margin-bottom: 0em;
}
h4 {
  font-weight: 600;
  font-size: 1em;
  line-height: 1.27777778em;
  margin-top: 1.27777778em;
  margin-bottom: 0em;
}
h5 {
  font-weight: 600;
  font-size: 1em;
  line-height: 1.27777778em;
  margin-top: 1.27777778em;
  margin-bottom: 0em;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.27777778em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

pre {
	display: block;
    font-family: menlo, monospace;
    white-space: pre;
    margin: 1em 0;
}

div.meta {
	font-size: 75%;
	font-family: 'Libre Baskerville', Georgia, serif;
	font-style: italic;
	color: #999;
}