
	<div class="paginate">
		<div class="pagprev">
			{{ if .Prev }}
				{{ if not .Prev.Title }}
					<a rel="prev" href="{{.Prev.Permalink}}"><strong>Prev Post</strong></a>
				{{ else }}
					<a rel="prev" href="{{.Prev.Permalink}}">{{- .Prev.Title }}</a>
				{{ end }}
			{{ end }}
		</div>
		<div class="pagnext">
			{{ if .Next }}
				{{ if not .Next.Title }}
					<a rel="next" href="{{.Next.Permalink}}"><strong>Next Post</strong></a>
				{{ else }}
					<a rel="next" href="{{.Next.Permalink}}">{{- .Next.Title }}</a>
				{{ end }}
			{{ end }}
		</div>
	</div>
