
	<div class="paginate">
		<div class="pagprev">
			{{ if .Prev }}
					
					<a rel="prev" href="{{.Prev.Permalink}}">&#8592;
					{{ if not .Prev.Title }}
						Prev Post
					{{ else }}
						{{- .Prev.Title }}
					{{ end }}
					</a>
				
			{{ end }}
		</div>
		<div class="pagnext">

			{{ if .Next }}
			
					<a rel="next" href="{{.Next.Permalink}}">	
					{{ if not .Next.Title }}
						Next Post
					{{ else }}
						{{- .Next.Title }}
					{{ end }}
					&#8594;	
					</a>
			{{ end }}

		</div>
	</div>
