{{"<!-- begin header partial //-->" | safeHTML}}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

  <!-- Basic Page Needs
  ================================================== -->

  <title>{{ .Title }}</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/normalize.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Libre+Franklin:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/reproach.css">
  <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />
</head>
<body>
	<main>
		<section>

