{{"<!-- begin header partial //-->" | safeHTML}}
<!DOCTYPE html><!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]--><!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]--><!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
  <title>{{ .Title }}</title>
  <meta charset="utf-8" />
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jquery and footnotes -->
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/bigfoot.js"></script>
  <script type="text/javascript">
    $.bigfoot();
  </script>
  {{- if .Params.sorttable }}
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/sorttable.js"></script>
  {{- end }}
  <!-- Favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/ascraeus_icon.svg" color="#367588" />
    <link rel="me" href="mailto:dgold@ascraeus.org" />
    <link rel="pgpkey" href="/pgp_key.txt" />
    <link rel="author" href="/pages/about/" title="About the author" />
    <meta name="theme-color" content="#f5f5f5">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/normalize.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Libre+Franklin:400,600,800" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/reproach.css" />
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/bigfoot-default.css" />
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/webmention.css" />
  {{- if .Site.Author.email }}
  <link rel="me" href="mailto:{{ .Site.Author.email }}" />
  {{- end }}
  <!-- indieweb components 
  ------------------------------------------------- -->
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  <link rel="micropub" href="https://ascraeus.org/micropub.php" />
  
  <!-- rss feeds -->
  <link rel="alternate" type="application/rss+xml" title="Ascraeus Main Feed" href="{{ .Site.BaseURL }}index.xml" />
  <link rel="alternate" type="application/rss+xml" title="Ascraeus Micropost Feed" href="{{ .Site.BaseURL }}micro/index.xml" />
  <link rel="self" href="{{ .Site.BaseURL }}" />
  <link rel="hub" href="http://ascraeus.superfeedr.com/" />

  <!-- Metadata for Twitter and OpenGraph -->
  {{ partial "twittergraph.html" . }}

</head>
<body class="Site">
	<main>
		<section>

