		    {{- if .Params.replyto }}
			<small><svg class="icon icon-talk">
					<use xlink:href="{{ .Site.BaseURL }}svg/symbol-defs.svg#icon-talk"></use>
				</svg> replying to a post on <a href="{{ .Params.replyto }}" class="u-in-reply-to">{{ .Params.replysite }}</a></small>
			{{- end }}
			{{- if .Params.checkin }}
			<small class="p-location h-card"><svg class="icon icon-location">
					<use xlink:href="{{ .Site.BaseURL }}svg/symbol-defs.svg#icon-location"></use>
				</svg> at <a href="{{ .Params.checkurl }}" class="u-url p-name">{{ .Params.checkloc }}</a></small>
			{{- end }}
		    <div class="e-content p-name">
			{{- if isset .Params "photo" }}
				{{- if isset .Params "booklink" }}
				<div class="tbr-entry">
					<div class="tbr-img">
						<a href={{ delimit (index .Params "booklink") ""}} alt="amazon affiliate link">
							<img width="80" height="120" src={{ delimit (index .Params "photo") ""}}>
						</a>
					</div>
					<div class="tbr-item">
						<div class="centre">
							<strong>
								<em>
					{{- else }}
					<a href={{ delimit (index .Params "photo") ""}} >
						<img src={{ delimit (index .Params "photo") ""}} class="u-photo" width="200" height="200">
					</a>
					{{- end }}
				{{- end }}
			    {{- .Content }}
				{{- if isset .Params "booklink" }}
								</em>
							</strong>
						</div>
					</div>
				</div>
				<hr />
				{{- end }}
		    </div>