{{"<!-- begin header partial //-->" | safeHTML}}
<!DOCTYPE html><!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]--><!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]--><!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- Basic Page Needs
  ================================================== -->
  <title>{{ .Title }}</title>
  <meta charset="utf-8" />
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jquery and footnotes -->
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/bigfoot.js"></script>
  <script type="text/javascript">
    $.bigfoot();
  </script>
  {{- if .Params.sorttable }}
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/sorttable.min.js"></script>
  {{- end }}
  <!-- Favicons
       ================================================== -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="mask-icon" href="/ascraeus_icon.svg" color="#367588" />
  <meta name="theme-color" content="#f5f5f5">

  <!-- CSS
       –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/reproach.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/bigfoot-default.css" />
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/webmention.css" />
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/syntax.css" />
  <!-- indieweb components -->
  <link rel="pingback" href="https://webmention.io/ascraeus.org/xmlrpc" />
  <link rel="webmention" href="https://webmention.io/ascraeus.org/webmention" />
  <!-- rss feeds -->
  <link rel="alternate" type="application/atom+xml" title="Ascraeus Main Feed" href="{{ .Site.BaseURL }}index.xml" />
  <link rel="alternate" type="application/atom+xml" title="Ascraeus Micropost Feed" href="{{ .Site.BaseURL }}micro/index.xml" />
  <link rel="self" href="{{ .Permalink }}" />
  <link rel="hub" href="https://switchboard.p3k.io/" />

  <!-- Metadata for Twitter and OpenGraph -->
  {{ partial "twittergraph.html" . }}
</head>
<body class="Site">
	<main>
		<section>

