{{ $mention_ids := index $.Site.Data.wm_io.index .URL }}
{{ $mentions := apply $mention_ids "index" $.Site.Data.wm_io.mentions "." }}
{{ $mentions := sort $mentions "wm-received" }}
{{ $likes := where $mentions "wm-property" "in" (slice "like-of") }}
{{ $reposts := where $mentions "wm-property" "in" (slice "repost-of") }}
{{ $inter := where $mentions "wm-property" "not in" (slice "like-of" "repost-of") }}
<div class="webmention-container">
{{- if $likes }}
<ul class="webmention-facepile">
{{ range $likes }}
{{ partial "wm_like.html" . }}
{{ end }}
{{ range $reposts }}
{{ partial "wm_repost.html" . }}
{{ end }}
</ul>
{{- end }}
{{ if $inter }}
{{ range $inter }}
{{ partial "wm_mention.html" . }}
{{ end}}
{{- end }}
</div>
