{{ $mention_ids := index $.Site.Data.wm_io.index .URL }}
{{ $mentions := apply $mention_ids "index" $.Site.Data.wm_io.mentions "." }}
{{ $mentions := sort $mentions "wm-received" }}
{{ $likes := where $mentions "wm-property" in (slice "like-of" "repost-of") }}
{{ $mentions := where $mentions "wm-property" not in (slice "like-of" "repost-of") }}
<div class="webmention-container">
{{- if $likes }}
{{ range $likes }}
<ul class="webmention-facepile">
{{ partial "wm_like.html" . }}
</ul>
{{ end }}
{{- end }}
{{ if $mentions }}
{{ range $mentions }}
{{ partial "wm_mention.html" . }}
{{ end}}
{{- end }}
</div>
