<div class="webmention-mention">
  <div class="webmention-author">
    <a href="{{ .author.url }}">
      <img class="avatar" src="{{ .author.photo }}" alt="{{ .author.name }}" t
itle="{{ .author.name }}"/>{{ .author.name }}
    </a>
  </div>
  <div class="webmention-summary">
    <blockquote>
      {{ .content.text }}
    </blockquote>
  </div>
  <div class="webmention-footer">
      <a class="webmention-published" href="{{ .url }}">{{ dateFormat "2006-01-02" (time .published) }}</a>
  </div>
</div>
