{{ partial "header.html" . }}

<div class="reproach-body">

	<main class="reproach-content">
	  {{- range (where .Data.Pages "Type" "in" (slice "article" "micro" "review" "link" )) }}
		<pre> {{- printf "%#v" .Section }} </pre>
		{{ if .Params.link }}
			<h2><a href={{ .Params.link }}>{{ .Title }}</a></h2>
		{{ else if not .Title }}
			<hr />
		{{ else }}
	    	<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
		{{ end }}

		{{ partial "metadata.html" . }}

	    {{- .Content }}

	    {{ if not .Title }}
			{{ partial "micrometadata.html" . }}
	    {{ end }}

	  {{ end }}

	</main>

	<nav class="reproach-nav">
	<h1>View from Ascraeus</h1>
	</nav>

</div>
{{ partial "footer.html" . }}

