{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

	<content>
		
		  {{- range (where .Data.Pages "Type" "in" (slice "article" "micro" "review" "link" )) }}
			{{ if .Params.link }}
				<h2><a href={{ .Params.link }}>{{ .Title }}</a></h2>
			{{ else if not .Title }}
			{{ else }}
		    	<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			{{ end }}

			{{ partial "metadata.html" . }}

		    {{- .Content }}

		    {{ if not .Title }}
				{{ partial "micrometadata.html" . }}
		    {{ end }}

		  {{ end }}

		

	</content>

{{ partial "footer.html" . }}

