{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

	<content>{{"<!-- from micro.single //-->" | safeHTML}}
			<h3>
				<svg class="icon icon-power">
					<use xlink:href="{{ .Site.BaseURL }}svg/symbol-defs.svg#icon-power"></use>
				</svg> Microentry
			</h3>
			<article class="h-entry hentry">
			{{ partial "p_microentry.html" . }}
		    {{- if .Params.checkin }}
		    	<img src="/{{ .Params.map }}" class="map-image" height="240" width="600">
		    {{- end }}
			{{ partial "micrometadata.html" . }}
			</article>
			{{ partial "articlepagination.html" . }}
			{{ partial "mention.html" . }}
			{{ partial "webmention.html" }}
	</content>

{{ partial "footer.html" . }} 
