{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}
	<content>
	  <h1><svg class="icon icon-ascraeus">
				<use xlink:href="{{ .Site.BaseURL }}svg/symbol-defs.svg#icon-ascraeus"></use>
			</svg>blog posts</h1>
			<div id="#revlist">
	  	{{- range where .Site.Pages "Section" "article" }}
			<h3 class="p-name entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
		    <div class="p-summary">
		    {{- if .Params.summary }}
		    {{- .Params.summary }}
		    {{- else }}
		    {{- .Summary}}
		    {{- end }}
		    </div>
		    {{ partial "metadata.html" . }}
	  	{{- end }}
	  		</div>
	</content>	
{{ partial "footer.html" . }}