{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}
	<content>
	  <h1><svg class="icon icon-tag">
				<use xlink:href="{{ .Site.BaseURL }}svg/symbol-defs.svg#icon-tag"></use>
			</svg>tags</h1>
			<div id="#revlist">
	  	{{- range where .Site.Pages "Section" "link" }}
	  		{{- if .Params.link}}
		  	<h3 class="p-name"><a href={{ .Params.link }} class="u-bookmark-of"><svg class="icon icon-link">
                <use xlink:href="{{ .Site.BaseURL }}svg/symbol-defs.svg#icon-link">
                </use></svg>{{ .Title }}
				{{- if .Params.gplus }}
					<svg class="icon icon-google-plus">
					<use xlink:href="{{ .Site.BaseURL }}svg/symbol-defs.svg#google-plus">
                </use></svg>
                {{- end }}
                </a></h3>
        {{- else }}
			<h3>{{ .Title }}</h3>
		{{- end }}
			<div class="p-summary">
		    {{- if .Params.summary }}
		    {{- .Params.summary }}
		    {{- else }}
		    {{- .Summary}}
		    {{- end }}
		    </div>
		    {{ partial "metadata.html" . }}
	  	{{- end }}
	  		</div>
	</content>
</div>
{{ partial "footer.html" . }}