{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}
	<content>
	  <h1><svg class="icon icon-power">
				<use xlink:href="{{ .Site.BaseURL }}svg/symbol-defs.svg#icon-power"></use>
			</svg>microblog</h1>

	  {{- range (.Paginate (where .Site.Pages "Section" "micro")).Pages }}
	  <article class="h-entry">
		  <div class="e-content p-title">
		    {{- .Content }}
		  </div>
	    {{- partial "micrometadata.html" . }}	  
	  </article>
	  {{- end }}
	  {{ partial "pagination.html" . }}
	</content>	
</div>
{{ partial "footer.html" . }}