{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}
	<content>{{"<!-- from section.review.html //-->" | safeHTML}}
	  <h1><svg class="icon icon-star-half">
				<use xlink:href="{{ .Site.BaseURL }}svg/symbol-defs.svg#icon-star-half"></use>
			</svg>reviews</h1>
			<div id="current"></div>
			<div id="#revlist">
			<article>
	  {{- range where .Site.Pages "Section" "review" }}
		  	<h3 class="p-name entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
		    <div>
			    {{- if .Params.summary }}
			    {{- .Params.summary }}
			    {{- else }}
			    {{- .Summary }}
			    {{- end }}
			</div>
		    {{ partial "metadata.html" . }}
	  {{- end }}
	  		</div>
	  		</article>
	</content>
</div>
{{ partial "footer.html" . }}